.container {
  height: 570px;
  display: flex;
  gap: 24px;
  max-width: 1440px;
  padding: 20px 64px;
  margin-left: auto;
  margin-right: auto;
}

.titlePart {
  background-color: #f8f8f8;
  border-radius: 30px;
  width: 100%;
  max-width: 720px;
  padding: 98px 64px;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
}

.titleSpan {
  width: 195px;
  position: relative;
  border-radius: 8px;
  color: transparent;
  height: 40px;
  display: inline-block;
  vertical-align: -12px;
}

.titleSpan::after {
  content: "language";
  color: var(--main);
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-weight: 400;
}

.text {
  margin: 0;
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.02em;
  max-width: 471px;
}

.button {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 267px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-decoration: none;
  color: var(--main);
  transition: background-color var(--animation);
}

.imagePart {
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 30px;
  width: 100%;
  max-width: 568px;
  background-image: url(../../img/homePage/homePageSticker.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.mac {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 178px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.appleIcon {
  width: 47px;
  height: 57px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .imagePart {
    background-image: url(../../img/homePage/homePageSticker@2x.png);
  }
}
