.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  padding: 8px 12px;
  height: 32px;
}

.item:first-child {
  background-color: var(--skillBgColor);
}

.item:not(:first-child) {
  border: 1px solid rgba(18, 20, 23, 0.2);
}
